*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body,#root{
  
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

}
.form{
  height: 350px;
  width: 300px;
  background-color: #444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
}
input{
  padding: 1rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  background-color: #222;
  color: white;
  font-size: 1.3rem;
}
button{
  width: fit-content;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
button:active{
  scale: 0.9;
}
.form-list{
  display: flex;
  padding: 2rem;
 gap: 2rem;
 

}

h2{
  font-size: 30px;
}
p{

 color: white;
 font-size: 20px;
}